body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-shadow: 2px 2px black;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 50%;
}

#mainNav,
.footer {
    background-color: #5a9216;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    -moz-box-shadow: 0px 5px  5px  rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 5px 5px  rgba(0,0,0,0.5);
	-o-box-shadow: 0px 5px 5px  rgba(0,0,0,0.5);
}

#mainNav .navbar-brand {
    color: black;
    font-family: 'Roboto Slab', serif;
}

#mainNav .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: black;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #bef67a;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: black;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #bef67a;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
}

.menuButton {
    background-color: #8BC34A;
}

span.anchor {
    margin-top: -106px;
    display: block;
    height: 106px;
    visibility: hidden;
    position: relative;
}

.jumbotron {
    background-color: #8BC34A;
    margin-top: 5.5%;
    -moz-box-shadow: 0px 10px  5px  rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 10px 5px  rgba(0,0,0,0.5);
	-o-box-shadow: 0px 10px 5px  rgba(0,0,0,0.5);
}

.mainPhoto {
    -moz-box-shadow: 5px 5px  rgba(0,0,0,.4);
	-webkit-box-shadow: 5px 5px  rgba(0,0,0,.4);
	-o-box-shadow: 5px 5px  rgba(0,0,0,.4);
}

.jumboText {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.about {
    background-color: #8BC34A;
    font-size: 1.25rem;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    padding-bottom: 2.5%;
}

.btn-success {
    background-color: #8BC34A;
    border-color: #8BC34A;
}

.btn-success:hover {
    background-color: #5a9216;
    border-color: #5a9216;
}

/* Float Shadow */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 0px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

#carouselPortfolio {
    border: 5px solid #8BC34A;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    margin-top: 5%;
    margin-bottom: 10%;
}

@media (max-width: 414px) {
    .jumbotron {
        margin-top: 17%;
    }
    span.anchor {
        margin-top: -56px;
        height: 56px;
    }
    #return-to-top {
        width: 25px;
        height: 25px;
    }
    #return-to-top i {
        font-size: 10px;
        top: 0px;
    }
}

@media (min-width: 736px) {
    span.anchor {
        margin-top: -56px;
        height: 56px;
    }
    #return-to-top {
        width: 25px;
        height: 25px;
    }
    #return-to-top i {
        font-size: 10px;
        top: 0px;
    }
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
    }
    #mainNav .navbar-brand {
        font-size: 2em;
        -webkit-transition: font-size 0.3s;
        -moz-transition: font-size 0.3s;
        transition: font-size 0.3s;
    }
    #mainNav .navbar-nav {
        margin-top: 0;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
        color: black;
        background: #bef67a;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        color: black;
        background: #bef67a;
    }
    #mainNav.navbar-shrink {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

@media (min-width: 1024px) {
    .jumbotron {
        margin-top: 10%;
    }
    span.anchor {
        margin-top: -82px;
        height: 82px;
    }
    #return-to-top {
        width: 50px;
        height: 50px;
    }
    #return-to-top i {
        top: 13px;
        font-size: 19px;
    }
}

@media (min-width: 1200px) {
    .jumbotron {
        margin-top: 8%;
    }
}

@media (min-width: 1600px) {
    .jumbotron {
        margin-top: 5%;
    }
}

@media (min-width: 1920px) {
    .jumbotron {
        margin-top: 5.5%;
    }
}

@-webkit-keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}
@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}